In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
activity=pd.read_csv('dailyActivity_merged.csv')
activity

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [3]:
calories=pd.read_csv('dailyCalories_merged.csv')
calories

             Id ActivityDay  Calories
0    1503960366   4/12/2016      1985
1    1503960366   4/13/2016      1797
2    1503960366   4/14/2016      1776
3    1503960366   4/15/2016      1745
4    1503960366   4/16/2016      1863
..          ...         ...       ...
935  8877689391    5/8/2016      2847
936  8877689391    5/9/2016      3710
937  8877689391   5/10/2016      2832
938  8877689391   5/11/2016      3832
939  8877689391   5/12/2016      1849

[940 rows x 3 columns]

In [4]:
intensity=pd.read_csv('dailyIntensities_merged.csv')
intensity

,Id,ActivityDay,SedentaryMinutes,LightlyActiveMinutes,FairlyActiveMinutes,VeryActiveMinutes,SedentaryActiveDistance,LightActiveDistance,ModeratelyActiveDistance,VeryActiveDistance
0,1503960366,4/12/2016,728,328,13,25,0.00,6.06,0.55,1.88
1,1503960366,4/13/2016,776,217,19,21,0.00,4.71,0.69,1.57
2,1503960366,4/14/2016,1218,181,11,30,0.00,3.91,0.40,2.44
3,1503960366,4/15/2016,726,209,34,29,0.00,2.83,1.26,2.14
4,1503960366,4/16/2016,773,221,10,36,0.00,5.04,0.41,2.71
...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,1174,245,4,17,0.00,6.80,0.20,1.08
936,8877689391,5/9/2016,1131,217,19,73,0.05,6.24,0.80,11.10
937,8877689391,5/10/2016,1187,224,11,18,0.00,6.28,0.46,1.35
938,8877689391,5/11/2016,1127,213,12,88,0.00,5.89,0.41,13.22
939,8877689391,5/12/2016,770,137,1,23,0.00,4.25,0.04,1.82

In [5]:
steps=pd.read_csv('dailySteps_merged.csv')
steps

             Id ActivityDay  StepTotal
0    1503960366   4/12/2016      13162
1    1503960366   4/13/2016      10735
2    1503960366   4/14/2016      10460
3    1503960366   4/15/2016       9762
4    1503960366   4/16/2016      12669
..          ...         ...        ...
935  8877689391    5/8/2016      10686
936  8877689391    5/9/2016      20226
937  8877689391   5/10/2016      10733
938  8877689391   5/11/2016      21420
939  8877689391   5/12/2016       8064

[940 rows x 3 columns]

In [6]:
heartrate=pd.read_csv('heartrate_seconds_merged.csv')
heartrate

                 Id                  Time  Value
0        2022484408  4/12/2016 7:21:00 AM     97
1        2022484408  4/12/2016 7:21:05 AM    102
2        2022484408  4/12/2016 7:21:10 AM    105
3        2022484408  4/12/2016 7:21:20 AM    103
4        2022484408  4/12/2016 7:21:25 AM    101
...             ...                   ...    ...
2483653  8877689391  5/12/2016 2:43:53 PM     57
2483654  8877689391  5/12/2016 2:43:58 PM     56
2483655  8877689391  5/12/2016 2:44:03 PM     55
2483656  8877689391  5/12/2016 2:44:18 PM     55
2483657  8877689391  5/12/2016 2:44:28 PM     56

[2483658 rows x 3 columns]

In [7]:
sleep=pd.read_csv('SleepDay_merged.csv')
sleep

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,4/12/2016 12:00:00 AM,1,327,346
1,1503960366,4/13/2016 12:00:00 AM,2,384,407
2,1503960366,4/15/2016 12:00:00 AM,1,412,442
3,1503960366,4/16/2016 12:00:00 AM,2,340,367
4,1503960366,4/17/2016 12:00:00 AM,1,700,712
...,...,...,...,...,...
408,8792009665,4/30/2016 12:00:00 AM,1,343,360
409,8792009665,5/1/2016 12:00:00 AM,1,503,527
410,8792009665,5/2/2016 12:00:00 AM,1,415,423
411,8792009665,5/3/2016 12:00:00 AM,1,516,545
412,8792009665,5/4/2016 12:00:00 AM,1,439,463

In [8]:
weight=pd.read_csv('weightlogInfo_merged.csv')
weight

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.650000,True,1462233599000
1,1503960366,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.650000,True,1462319999000
2,1927972279,4/13/2016 1:08:52 AM,133.500000,294.317120,NaN,47.540001,False,1460509732000
3,2873212765,4/21/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1461283199000
4,2873212765,5/12/2016 11:59:59 PM,57.299999,126.324875,NaN,21.690001,True,1463097599000
...,...,...,...,...,...,...,...,...
62,8877689391,5/6/2016 6:43:35 AM,85.000000,187.392923,NaN,25.440001,False,1462517015000
63,8877689391,5/8/2016 7:35:53 AM,85.400002,188.274775,NaN,25.559999,False,1462692953000
64,8877689391,5/9/2016 6:39:44 AM,85.500000,188.495234,NaN,25.610001,False,1462775984000
65,8877689391,5/11/2016 6:51:47 AM,85.400002,188.274775,NaN,25.559999,False,1462949507000
66,8877689391,5/12/2016 6:42:53 AM,84.000000,185.188300,NaN,25.139999,False,1463035373000

In [10]:
df1 = pd.read_csv("dailyActivity_merged.csv")
df2 = pd.read_csv("dailyCalories_merged.csv")
merged_df = pd.merge(df1, df2, on="Id", how="inner")

In [11]:
df1 = pd.read_csv("dailyCalories_merged.csv")
df2 = pd.read_csv('dailySteps_merged.csv')

merged_df = pd.merge(df1, df2, on="Id", how="inner")

In [11]:
#1 First use the daily activity data and find the unique id of all the users.

unique_users = dailyActivity_merged['Id'].unique()
len(unique_users)

# The dataset contains multiple unique users and calculating all

33

In [12]:
#2 Then find the number of days they use their fitness tracker.

user_days = dailyActivity_merged.groupby('Id')['ActivityDate'].nunique().reset_index()
user_days.columns = ['Id', 'TotalDaysUsed']
user_days.head()

# insight 
# The number of days the device was used varies by user, indicating different levels of consistency and engagement with activity tracking

           Id  TotalDaysUsed
0  1503960366             31
1  1624580081             31
2  1644430081             30
3  1844505072             31
4  1927972279             31

In [19]:
#3 Use this data to group all the users into Active(>20), moderate(>10,<20) and
#light(<10) users.

def user_category(days):
    if days > 20:
        return "Active"
    elif 10 <= days <= 20:
        return "Moderate"
    else:
        return "Light"
user_days['UserType'] = user_days['TotalDaysUsed'].apply(user_category)
user_days['UserType'].value_counts()

# insight 
# “Most users fall into the Moderate or Light categories, suggesting inconsistent device usage, while a smaller group shows highly active and regular engagement

UserType
Active      29
Moderate     3
Light        1
Name: count, dtype: int64

In [12]:
#4. After that find out the mean distance traveled by each user

mean_distance = dailyActivity_merged.groupby('Id')['TotalDistance'].mean().reset_index()
mean_distance.columns = ['Id', 'MeanDistance']
mean_distance.head()

# insight 
# Average daily distance varies across users, reflecting differences in routine movement patterns and overall fitness levels

           Id  MeanDistance
0  1503960366      7.809677
1  1624580081      3.914839
2  1644430081      5.295333
3  1844505072      1.706129
4  1927972279      0.634516

In [26]:
#5 Use this mean distance to group each user into Pro,Intermediate and
#beginner.(set criteria by yourself)

def distance_level(dist):
    if dist < 5:
        return "Beginner"
    elif dist <= 10:
        return "Intermediate"
    else:
        return "Pro"

mean_distance['FitnessLevel'] = mean_distance['MeanDistance'].apply(distance_level)
mean_distance['FitnessLevel'].value_counts()

# insight 
# Most users fall into the Beginner or Intermediate fitness levels, indicating moderate daily movement, while only a small group shows Pro-level activity

FitnessLevel
Intermediate    17
Beginner        14
Pro              2
Name: count, dtype: int64

In [27]:
#6 Then find out the total steps traveled by each user

total_steps = dailySteps_merged.groupby('Id')['StepTotal'].sum().reset_index()
total_steps.columns = ['Id', 'TotalSteps']
total_steps.head()

# insight 
# Total steps vary significantly among users, highlighting clear differences in overall mobility and daily physical activity levels

           Id  TotalSteps
0  1503960366      375619
1  1624580081      178061
2  1644430081      218489
3  1844505072       79982
4  1927972279       28400

In [42]:
#7. Then find out the calories burned by each user

calories = pd.read_csv("dailyCalories_merged.csv")
calories_per_user = calories.groupby('Id')['Calories'].sum()
calories_per_user
calories_per_user.head()

# insight 
# Total calories burned differ greatly across users, reflecting varying activity levels, body needs, and consistency in daily movement

Id
1503960366    56309
1624580081    45984
1644430081    84339
1844505072    48778
1927972279    67357
Name: Calories, dtype: int64

In [46]:
# 8. And then find out their fairly active, lightly active and Very active minutes.
activity = pd.read_csv("dailyActivity_merged.csv")
active_minutes = activity.groupby('Id')[[
    'FairlyActiveMinutes',
    'LightlyActiveMinutes',
    'VeryActiveMinutes'
]].sum()
active_minutes

# insight 
# Total active minutes vary widely across users, indicating significant differences in daily activity intensity and lifestyle habits

            FairlyActiveMinutes  LightlyActiveMinutes  VeryActiveMinutes
Id
1503960366                  594                  6818               1200
1624580081                  180                  4758                269
1644430081                  641                  5354                287
1844505072                   40                  3579                  4
1927972279                   24                  1196                 41
2022484408                  600                  7981               1125
2026352035                    8                  7956                  3
2320127002                   80                  6144                 42
2347167796                  370                  4545                243
2873212765                  190                  9548                437
3372868164                   82                  6558                183
3977333714                 1838                  5243                567
4020332650                  166                  2385                161
4057192912                    6                   412                  3
4319703577                  382                  7092                111
4388161847                  631                  7110                718
4445114986                   54                  6482                205
4558609924                  425                  8834                322
4702921684                  807                  7362                159
5553957443                  403                  6392                726
5577150313                  895                  4438               2620
6117666160                   57                  8074                 44
6290855005                  110                  6596                 80
6775888955                  385                  1044                286
6962181067                  574                  7620                707
7007744171                  423                  7299                807
7086361926                  786                  4459               1320
8053475328                  297                  4680               2640
8253242879                  272                  2221                390
8378563200                  318                  4839               1819
8583815059                  688                  4287                300
8792009665                  117                  2662                 28
8877689391                  308                  7276               2048

In [51]:
#9. Repeat all these tasks (1 to 8) with respect to distinct dates (for example find out
#unique dates instead of unique id and calculate number of users on that date).


daily_summary = activity.groupby('ActivityDate').agg(
    Users=('Id', 'nunique'),
    AvgDistance=('TotalDistance', 'mean'),
    TotalSteps=('TotalSteps', 'sum'),
    Calories=('Calories', 'sum'),
    VeryActive=('VeryActiveMinutes', 'sum'),
    FairlyActive=('FairlyActiveMinutes', 'sum'),
    LightlyActive=('LightlyActiveMinutes', 'sum')
).reset_index()

daily_summary.head()

# insight 
# On each day, overall steps and calories burned rise with higher total active minutes, showing a strong link between user activity level and energy expenditure.

,ActivityDate,Users,AvgDistance,TotalSteps,Calories,VeryActive,FairlyActive,LightlyActive
0,4/12/2016,33,5.982727,271816,78893,736,259,6567
1,4/13/2016,33,5.103333,237558,75459,671,349,5998
2,4/14/2016,33,5.599394,255538,77761,691,409,6633
3,4/15/2016,33,5.287879,248617,77721,633,326,7057
4,4/16/2016,32,6.291563,277733,76574,891,484,6202

In [17]:
# Q11. Balanced Activity Pattern

intensity = intensity.groupby('Id')[[
    'VeryActiveMinutes',
    'FairlyActiveMinutes',
    'LightlyActiveMinutes'
]].std()

intensity.mean(axis=1).sort_values()

# insight 
# Users with lower mean standard deviation show a more consistent activity pattern, while higher values indicate irregular or fluctuating activity levels

Id
1927972279    19.012013
3372868164    25.867850
8378563200    26.163443
4445114986    26.496609
4057192912    27.178929
1503960366    27.887121
2022484408    28.673038
1624580081    29.363824
8253242879    29.629719
8053475328    29.770711
6775888955    30.312772
2320127002    30.929222
4558609924    31.222088
8877689391    33.218340
6962181067    34.121958
3977333714    34.898924
7086361926    34.957804
4388161847    35.141848
5553957443    35.272502
2026352035    36.347284
2873212765    38.612781
8792009665    39.655318
2347167796    40.691613
4702921684    40.898198
1844505072    42.252138
1644430081    44.098419
8583815059    44.241256
4020332650    44.844639
6290855005    45.997920
4319703577    46.333886
5577150313    46.885726
7007744171    48.713993
6117666160    62.155810
dtype: float64

In [29]:
#Q12. FitWear Premium Customers

days = activity.groupby('Id')['ActivityDate'].nunique()
very_active = intensity.groupby('Id')['VeryActiveMinutes'].mean()

df = pd.concat([days, very_active], axis=1)
df[(df['ActivityDate'] > 20) & (df['VeryActiveMinutes'] > 30)]

# insight 
# Users who logged data for more than 20 days and averaged over 30 very active minutes show a consistently active and disciplined lifestyle

            ActivityDate  VeryActiveMinutes
Id
1624580081            31          33.411961
5577150313            30          61.754985
8053475328            31          35.529421
8378563200            31          45.063205
8877689391            31          34.356887

In [30]:
#Q13 BMI Distribution Understanding

weight['BMICategory'] = pd.cut(
    weight['BMI'],
    bins=[0,18.5,25,30,100],
    labels=['Underweight','Normal','Overweight','Obese']
)

weight.groupby('BMICategory')['Id'].nunique()

# insight 
# This output gives a clear picture of how users are spread across BMI categories

C:\Users\hp\AppData\Local\Temp\ipykernel_22176\1526478017.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  weight.groupby('BMICategory')['Id'].nunique()

BMICategory
Underweight    0
Normal         3
Overweight     4
Obese          1
Name: Id, dtype: int64

In [32]:
#Q14. Overweight but Active Users

merged = weight.merge(activity, on='Id')

merged[(merged['BMI'] >= 25) & (merged['VeryActiveMinutes'] > 30)]

# insight 
# this output highlights physically active users within higher BMI categories

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId,BMICategory,ActivityDate,...,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
243,4558609924,4/18/2016 11:59:59 PM,69.699997,153.662190,NaN,27.250000,True,1461023999000,Overweight,5/8/2016,...,0.0,1.80,0.50,2.02,0.00,66,35,238,1019,2666
274,4558609924,4/25/2016 11:59:59 PM,70.300003,154.984977,NaN,27.459999,True,1461628799000,Overweight,5/8/2016,...,0.0,1.80,0.50,2.02,0.00,66,35,238,1019,2666
305,4558609924,5/1/2016 11:59:59 PM,69.900002,154.103125,NaN,27.320000,True,1462147199000,Overweight,5/8/2016,...,0.0,1.80,0.50,2.02,0.00,66,35,238,1019,2666
336,4558609924,5/2/2016 11:59:59 PM,69.199997,152.559879,NaN,27.040001,True,1462233599000,Overweight,5/8/2016,...,0.0,1.80,0.50,2.02,0.00,66,35,238,1019,2666
367,4558609924,5/9/2016 11:59:59 PM,69.099998,152.339420,NaN,27.000000,True,1462838399000,Overweight,5/8/2016,...,0.0,1.80,0.50,2.02,0.00,66,35,238,1019,2666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,8877689391,5/12/2016 6:42:53 AM,84.000000,185.188300,NaN,25.139999,False,1463035373000,Overweight,5/5/2016,...,0.0,5.46,0.82,4.37,0.00,67,15,188,1170,3052
2069,8877689391,5/12/2016 6:42:53 AM,84.000000,185.188300,NaN,25.139999,False,1463035373000,Overweight,5/6/2016,...,0.0,12.79,0.29,6.16,0.00,96,17,232,1095,4015
2070,8877689391,5/12/2016 6:42:53 AM,84.000000,185.188300,NaN,25.139999,False,1463035373000,Overweight,5/7/2016,...,0.0,0.08,0.96,6.99,0.00,105,28,271,1036,4142
2072,8877689391,5/12/2016 6:42:53 AM,84.000000,185.188300,NaN,25.139999,False,1463035373000,Overweight,5/9/2016,...,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
2074,8877689391,5/12/2016 6:42:53 AM,84.000000,185.188300,NaN,25.139999,False,1463035373000,Overweight,5/11/2016,...,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832

In [33]:
# 15. Weight Logging Consistency

weight.groupby('Id')['Date'].nunique().sort_values(ascending=False)

# insight 
# This output highlights user engagement in weight tracking

Id
6962181067    30
8877689391    24
4558609924     5
1503960366     2
2873212765     2
4319703577     2
1927972279     1
5577150313     1
Name: Date, dtype: int64

In [35]:
# Q16 Weight vs Activity Trend

merged = weight.merge(intensity, on='Id')

merged.groupby('Id')[['WeightKg','VeryActiveMinutes']].mean()

# insight 
# This output provides a clean user-level summary linking body weight with vigorous activity

              WeightKg  VeryActiveMinutes
Id
1503960366   52.599998          16.021222
1927972279  133.500000           4.077475
2873212765   57.000000          20.693566
4319703577   72.350002           5.584348
4558609924   69.639999          13.220382
5577150313   90.699997          61.754985
6962181067   61.553334          20.308322
8877689391   85.145834          34.356887

In [36]:
# Q17 LeanFit High-Risk Customers

merged[(merged['BMI'] >= 30) & (merged['VeryActiveMinutes'] < 15)]

# insight 
# Identifies a critical intervention group for fitness and health programs.

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId,BMICategory,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes
2,1927972279,4/13/2016 1:08:52 AM,133.5,294.31712,NaN,47.540001,False,1460509732000,Obese,4.077475,2.333948,50.624615

In [39]:
# Q18. Calorie Surplus Indicators

calories.groupby('Id')['Calories'].mean().sort_values(ascending=False)

# insight 
# This output provides a clear ranking of users by daily energy expenditure

Id
8378563200    3436.580645
8877689391    3420.258065
5577150313    3359.633333
4388161847    3093.870968
4702921684    2965.548387
8053475328    2945.806452
1644430081    2811.300000
8583815059    2732.032258
6290855005    2599.620690
7086361926    2566.354839
7007744171    2544.000000
2022484408    2509.967742
4020332650    2385.806452
6117666160    2261.142857
4445114986    2186.193548
1927972279    2172.806452
6775888955    2131.769231
2347167796    2043.444444
4319703577    2037.677419
4558609924    2033.258065
6962181067    1982.032258
4057192912    1973.750000
8792009665    1962.310345
3372868164    1933.100000
2873212765    1916.967742
5553957443    1875.677419
1503960366    1816.419355
8253242879    1788.000000
2320127002    1724.161290
1844505072    1573.483871
2026352035    1540.645161
3977333714    1513.666667
1624580081    1483.354839
Name: Calories, dtype: float64

In [41]:
# Q19 Most Valuable Users
set(activity['Id']) & set(sleep['Id']) & set(weight['Id'])

# insight 
# These users represent the most valuable subset of the dataset.

{1503960366, 1927972279, 4319703577, 4558609924, 5577150313, 6962181067}

In [43]:
# Q20 Data Completeness Check

counts = {
    'activity': activity.groupby('Id').size(),
    'sleep': sleep.groupby('Id').size(),
    'weight': weight.groupby('Id').size()
}

pd.DataFrame(counts).fillna(0).sum(axis=1).sort_values(ascending=False)

# insight 
# This output ranks users by overall data richness across activity, sleep, and weight

Id
6962181067    92.0
8378563200    63.0
5553957443    62.0
4702921684    59.0
2026352035    59.0
4319703577    59.0
4445114986    59.0
1503960366    58.0
3977333714    58.0
5577150313    57.0
4388161847    55.0
7086361926    55.0
8877689391    55.0
6117666160    46.0
8792009665    44.0
4558609924    41.0
4020332650    39.0
1927972279    37.0
1844505072    34.0
8053475328    34.0
1644430081    34.0
2873212765    33.0
2347167796    33.0
2320127002    32.0
2022484408    31.0
1624580081    31.0
8583815059    31.0
6775888955    29.0
6290855005    29.0
7007744171    28.0
3372868164    20.0
8253242879    19.0
4057192912     4.0
dtype: float64

In [21]:
# Q21 Ideal Dashboard Metrics Selection
activity[['TotalSteps','Calories','SedentaryMinutes']].describe()

# insight 
# It includes: count, mean, standard deviation, min, quartiles (25%, 50%, 75%), and max.

         TotalSteps     Calories  SedentaryMinutes
count    940.000000   940.000000        940.000000
mean    7637.910638  2303.609574        991.210638
std     5087.150742   718.166862        301.267437
min        0.000000     0.000000          0.000000
25%     3789.750000  1828.500000        729.750000
50%     7405.500000  2134.000000       1057.500000
75%    10727.000000  2793.250000       1229.500000
max    36019.000000  4900.000000       1440.000000

In [57]:
#Q22 User Engagement Depth
usage = activity.groupby('Id')['ActivityDate'].nunique().reset_index()
usage.columns = ['Id','DaysUsed']
usage.sort_values('DaysUsed', ascending=False)

# insight 
# This output ranks users by tracking consistency, providing a clear picture of user engagement and data quality in the dataset.

            Id  DaysUsed
0   1503960366        31
1   1624580081        31
3   1844505072        31
4   1927972279        31
5   2022484408        31
7   2320127002        31
6   2026352035        31
12  4020332650        31
9   2873212765        31
16  4445114986        31
14  4319703577        31
15  4388161847        31
29  8378563200        31
24  6962181067        31
19  5553957443        31
18  4702921684        31
17  4558609924        31
32  8877689391        31
30  8583815059        31
27  8053475328        31
26  7086361926        31
2   1644430081        30
20  5577150313        30
11  3977333714        30
22  6290855005        29
31  8792009665        29
21  6117666160        28
25  7007744171        26
23  6775888955        26
10  3372868164        20
28  8253242879        19
8   2347167796        18
13  4057192912         4

In [58]:
#23 High Usage but Low Activity

summary = activity.groupby('Id').agg(
    DaysUsed=('ActivityDate','nunique'),
    AvgSteps=('TotalSteps','mean')
).reset_index()

summary[(summary['DaysUsed'] > 20) & (summary['AvgSteps'] < 5000)]

# insight 
# This output pinpoints users who are consistently engaged but physically inactive

            Id  DaysUsed     AvgSteps
3   1844505072        31  2580.064516
4   1927972279        31   916.129032
7   2320127002        31  4716.870968
12  4020332650        31  2267.225806
16  4445114986        31  4796.548387
23  6775888955        26  2519.692308
31  8792009665        29  1853.724138

In [61]:
# 24 Sedentary Lifestyle Detection

sedentary = activity.groupby('Id')['SedentaryMinutes'].mean().reset_index()
sedentary.sort_values('SedentaryMinutes', ascending=False)

# insight 
# This output highlights who is most inactive on a daily basis

            Id  SedentaryMinutes
4   1927972279       1317.419355
23  6775888955       1299.423077
28  8253242879       1287.368421
30  8583815059       1267.225806
1   1624580081       1257.741935
12  4020332650       1237.258065
7   2320127002       1220.096774
13  4057192912       1217.250000
3   1844505072       1206.612903
22  6290855005       1193.034483
2   1644430081       1161.866667
27  8053475328       1148.000000
32  8877689391       1112.870968
5   2022484408       1112.580645
9   2873212765       1097.193548
17  4558609924       1093.612903
10  3372868164       1077.550000
31  8792009665       1060.482759
25  7007744171       1055.346154
26  7086361926        850.451613
0   1503960366        848.161290
15  4388161847        836.677419
16  4445114986        829.903226
21  6117666160        796.285714
18  4702921684        766.419355
20  5577150313        754.433333
14  4319703577        735.806452
29  8378563200        716.129032
11  3977333714        707.533333
6   2026352035        689.419355
8   2347167796        687.166667
19  5553957443        668.354839
24  6962181067        662.322581

In [66]:
#25 Sleep Deprivation Pattern

low_sleep = sleep[sleep['TotalMinutesAsleep'] < 360]
low_sleep.groupby('Id').size().reset_index(name='LowSleepDays') \
         .sort_values('LowSleepDays', ascending=False)


# insight 
# This output highlights users with persistent sleep deprivation patterns, making it a critical insight for health, wellness, and behavior

            Id  LowSleepDays
5   3977333714            24
0   1503960366            14
9   4445114986             8
8   4388161847             6
10  4558609924             5
12  5553957443             5
20  8378563200             5
11  4702921684             4
6   4020332650             3
1   1644430081             3
13  5577150313             3
7   4319703577             3
2   1927972279             2
14  6117666160             2
19  8053475328             2
18  7086361926             2
17  7007744171             2
16  6962181067             2
21  8792009665             2
3   2026352035             1
4   2320127002             1
15  6775888955             1

In [69]:
# 26 Sleep Efficiency Analysis


sleep['SleepEfficiency'] = sleep['TotalMinutesAsleep'] / sleep['TotalTimeInBed']

sleep.groupby('Id')['SleepEfficiency'].mean() \
    .sort_values()

# insight 
# Sleep efficiency is often a stronger indicator of sleep quality than total sleep duration.

Id
3977333714    0.633669
1844505072    0.678460
1644430081    0.882040
2320127002    0.884058
4558609924    0.907128
2347167796    0.910370
5553957443    0.915207
8378563200    0.918998
4445114986    0.925389
4020332650    0.930358
1503960366    0.936385
5577150313    0.939211
6117666160    0.940198
2026352035    0.941341
6775888955    0.942028
1927972279    0.947008
4388161847    0.947414
4319703577    0.947497
4702921684    0.952655
7007744171    0.957117
8792009665    0.960392
6962181067    0.961487
7086361926    0.971315
8053475328    0.984888
Name: SleepEfficiency, dtype: float64

In [70]:
# 27 Calories Burn Stability

cal_var = calories.groupby('Id')['Calories'].std().reset_index()
cal_var.sort_values('Calories')

# insight 
# Higher calorie standard deviation → users show irregular activity intensity, with some very active days and some very inactive days.

            Id    Calories
9   2873212765  158.311820
6   2026352035  186.380891
10  3372868164  196.819688
7   2320127002  211.785284
4   1927972279  220.923127
16  4445114986  234.218619
17  4558609924  238.027585
1   1624580081  256.582871
11  3977333714  291.992363
24  6962181067  296.188170
5   2022484408  297.178115
3   1844505072  307.989163
19  5553957443  343.919699
0   1503960366  352.574793
13  4057192912  385.824118
15  4388161847  397.581333
14  4319703577  415.606335
26  7086361926  435.888789
18  4702921684  466.003493
28  8253242879  466.675238
8   2347167796  472.914147
27  8053475328  477.963696
23  6775888955  483.975893
2   1644430081  507.488349
31  8792009665  544.859097
30  8583815059  570.746440
22  6290855005  578.495426
29  8378563200  578.590861
32  8877689391  624.948796
12  4020332650  625.398082
25  7007744171  629.068009
21  6117666160  692.598474
20  5577150313  792.747796

In [72]:
# 28 Activity Consistency Score

steps_std = activity.groupby('Id')['TotalSteps'].std()
steps_mean = activity.groupby('Id')['TotalSteps'].mean()

consistency = (steps_std / steps_mean).reset_index(name='ConsistencyScore')
consistency.sort_values('ConsistencyScore')

# insight 
# This output ranks users by activity regularity, making it a strong indicator of habit consistency and lifestyle

            Id  ConsistencyScore
9   2873212765          0.200439
5   2022484408          0.246863
0   1503960366          0.251923
10  3372868164          0.268514
11  3977333714          0.285322
17  4558609924          0.306691
15  4388161847          0.311924
32  8877689391          0.362924
27  8053475328          0.368547
24  6962181067          0.402433
18  4702921684          0.402686
16  4445114986          0.403847
26  7086361926          0.411565
29  8378563200          0.450731
20  5577150313          0.463245
25  7007744171          0.468628
30  8583815059          0.472560
14  4319703577          0.476975
7   2320127002          0.477989
28  8253242879          0.484611
8   2347167796          0.491834
22  6290855005          0.505812
6   2026352035          0.534921
19  5553957443          0.589197
2   1644430081          0.593917
21  6117666160          0.693614
13  4057192912          0.701320
3   1844505072          1.051461
1   1624580081          1.075410
23  6775888955          1.201656
31  8792009665          1.255505
4   1927972279          1.315611
12  4020332650          1.486306

In [82]:
# 29 Light Activity Dependency
activity.groupby('Id')[['LightlyActiveMinutes','VeryActiveMinutes']].mean() \
    .query('LightlyActiveMinutes > 2 * VeryActiveMinutes')


# insight 
# This output identifies users whose routines are dominated by light activity, offering valuable insight into lifestyle balance and fitness improvement opportunities.

            LightlyActiveMinutes  VeryActiveMinutes
Id
1503960366            219.935484          38.709677
1624580081            153.483871           8.677419
1644430081            178.466667           9.566667
1844505072            115.451613           0.129032
1927972279             38.580645           1.322581
2022484408            257.451613          36.290323
2026352035            256.645161           0.096774
2320127002            198.193548           1.354839
2347167796            252.500000          13.500000
2873212765            308.000000          14.096774
3372868164            327.900000           9.150000
3977333714            174.766667          18.900000
4020332650             76.935484           5.193548
4057192912            103.000000           0.750000
4319703577            228.774194           3.580645
4388161847            229.354839          23.161290
4445114986            209.096774           6.612903
4558609924            284.967742          10.387097
4702921684            237.483871           5.129032
5553957443            206.193548          23.419355
6117666160            288.357143           1.571429
6290855005            227.448276           2.758621
6775888955             40.153846          11.000000
6962181067            245.806452          22.806452
7007744171            280.730769          31.038462
7086361926            143.838710          42.580645
8253242879            116.894737          20.526316
8378563200            156.096774          58.677419
8583815059            138.290323           9.677419
8792009665             91.793103           0.965517
8877689391            234.709677          66.064516

In [87]:
# 30 Calories per Step Efficiency

eff = activity.groupby('Id').apply(
    lambda x: x['Calories'].sum() / x['TotalSteps'].sum()
).reset_index(name='CaloriesPerStep')

eff.sort_values('CaloriesPerStep', ascending=False)

# insight 
# This output ranks users by calorie burn efficiency per step, highlighting differences in metabolism, body composition, and activity intensity

C:\Users\hp\AppData\Local\Temp\ipykernel_1488\3078620668.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  eff = activity.groupby('Id').apply(

            Id  CaloriesPerStep
4   1927972279         2.371725
31  8792009665         1.058577
12  4020332650         1.052302
23  6775888955         0.846043
3   1844505072         0.609862
13  4057192912         0.514265
22  6290855005         0.460146
16  4445114986         0.455785
20  5577150313         0.404559
29  8378563200         0.394207
2   1644430081         0.386010
30  8583815059         0.379527
7   2320127002         0.365531
18  4702921684         0.345955
21  6117666160         0.320879
15  4388161847         0.286100
10  3372868164         0.281725
14  4319703577         0.280331
6   2026352035         0.276752
28  8253242879         0.275834
26  7086361926         0.273839
17  4558609924         0.264570
1   1624580081         0.258249
9   2873212765         0.253709
25  7007744171         0.224667
5   2022484408         0.220741
19  5553957443         0.217783
8   2347167796         0.214655
32  8877689391         0.213233
24  6962181067         0.202355
27  8053475328         0.199536
0   1503960366         0.149910
11  3977333714         0.137799

In [90]:
# 31 BMI-Based Activity Pattern

activity.groupby(pd.cut(weight['BMI'],
        bins=[0,18.5,25,30,100],
        labels=['Underweight','Normal','Overweight','Obese'])
    )['TotalSteps'].mean()

# insight 
# This output highlights how daily movement decreases as BMI increases

C:\Users\hp\AppData\Local\Temp\ipykernel_1488\1117038740.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  activity.groupby(pd.cut(weight['BMI'],

BMI
Underweight          NaN
Normal         10119.500
Overweight      7795.375
Obese          10460.000
Name: TotalSteps, dtype: float64

In [101]:
# 32 Data Completeness Check

activity.notnull().groupby(activity['Id']).sum().sum(axis=1) \
    .sort_values(ascending=False)

# insight 
# This output ranks users by data reliability and tracking consistency

Id
1503960366    465
1624580081    465
1844505072    465
1927972279    465
2022484408    465
2320127002    465
2026352035    465
4020332650    465
2873212765    465
4445114986    465
4319703577    465
4388161847    465
8378563200    465
6962181067    465
5553957443    465
4702921684    465
4558609924    465
8877689391    465
8583815059    465
8053475328    465
7086361926    465
1644430081    450
5577150313    450
3977333714    450
6290855005    435
8792009665    435
6117666160    420
7007744171    390
6775888955    390
3372868164    300
8253242879    285
2347167796    270
4057192912     60
dtype: int64

In [103]:
# 33 Lifestyle Risk Users

activity[
    (sleep['TotalMinutesAsleep'] < 360) &
    (activity['SedentaryMinutes'] > 800) &
    (activity['TotalSteps'] < 4000)
]

# insight 
# This output highlights days with the worst overall lifestyle balance

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
96,1844505072,4/16/2016,3414,2.26,2.26,0.0,0.00,0.00,2.26,0.0,0,0,147,1293,1657
99,1844505072,4/19/2016,197,0.13,0.13,0.0,0.00,0.00,0.13,0.0,0,0,10,1430,1366
103,1844505072,4/23/2016,3570,2.36,2.36,0.0,0.00,0.00,2.36,0.0,0,0,139,1301,1645
104,1844505072,4/24/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,1440,1347
105,1844505072,4/25/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,1440,1347
106,1844505072,4/26/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,1440,1347
107,1844505072,4/27/2016,4,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,1,1439,1348
129,1927972279,4/18/2016,244,0.17,0.17,0.0,0.00,0.00,0.17,0.0,0,0,17,1423,2111
142,1927972279,5/1/2016,2704,1.87,1.87,0.0,1.01,0.03,0.83,0.0,14,1,70,1355,2411
146,1927972279,5/5/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,1440,2063
147,1927972279,5/6/2016,2091,1.45,1.45,0.0,0.00,0.00,1.45,0.0,0,0,108,1332,2383
150,1927972279,5/9/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,1440,2063
153,1927972279,5/12/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,966,1383
218,2320127002,4/14/2016,3973,2.68,2.68,0.0,0.00,0.00,2.68,0.0,0,0,191,1249,1696
230,2320127002,4/26/2016,3409,2.30,2.30,0.0,0.00,0.00,2.30,0.0,0,0,147,1293,1632
233,2320127002,4/29/2016,924,0.62,0.62,0.0,0.00,0.00,0.62,0.0,0,0,45,1395,1410
235,2320127002,5/1/2016,772,0.52,0.52,0.0,0.00,0.00,0.52,0.0,0,0,40,1400,1403
238,2320127002,5/4/2016,1201,0.81,0.81,0.0,0.00,0.00,0.81,0.0,0,0,52,1388,1426
243,2320127002,5/9/2016,3090,2.08,2.08,0.0,0.00,0.00,2.08,0.0,0,0,145,1295,1630
351,4020332650,4/17/2016,16,0.01,0.01,0.0,0.00,0.00,0.01,0.0,0,0,2,1438,1990
357,4020332650,4/23/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,1440,1980
364,4020332650,4/30/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,1440,1980
365,4020332650,5/1/2016,0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0,0,0,1440,1980
366,4020332650,5/2/2016,475,0.34,0.34,0.0,0.00,0.04,0.29,0.0,0,11,31,1350,2207
387,4319703577,4/18/2016,2276,1.55,1.55,0.0,0.07,0.33,1.12,0.0,1,9,58,824,1632

In [109]:
# 34 Early Warning Inactive Users

activity = activity.sort_values(['Id','ActivityDate'])

trend = activity.groupby('Id')['TotalSteps'].apply(
    lambda x: x.diff().mean()
).reset_index(name='AvgStepChange')

trend.sort_values('AvgStepChange')

# insight 
#This output captures the direction of behavior change, highlighting whether users are becoming more active or less active over time

            Id  AvgStepChange
8   2347167796    -592.411765
25  7007744171    -566.880000
28  8253242879    -501.833333
13  4057192912    -470.000000
7   2320127002    -254.500000
3   1844505072    -223.233333
1   1624580081    -214.366667
27  8053475328    -186.500000
20  5577150313    -162.551724
2   1644430081    -139.689655
12  4020332650    -132.766667
32  8877689391     -98.666667
31  8792009665     -91.571429
10  3372868164     -87.894737
0   1503960366     -38.000000
9   2873212765     -35.666667
4   1927972279     -22.600000
19  5553957443       0.500000
15  4388161847       3.200000
29  8378563200      25.200000
18  4702921684      33.966667
5   2022484408      50.133333
22  6290855005      61.250000
16  4445114986      66.633333
24  6962181067      71.433333
26  7086361926      74.966667
23  6775888955      78.680000
14  4319703577      87.500000
30  8583815059     162.100000
21  6117666160     165.814815
11  3977333714     201.068966
6   2026352035     209.033333
17  4558609924     210.533333

In [113]:
# 35 Sedentary Break Pattern

summary = activity.groupby('Id').agg(
    AvgSteps=('TotalSteps','mean'),
    Sedentary=('SedentaryMinutes','mean')
)

summary[(summary['AvgSteps'] > 8000) & (summary['Sedentary'] > 700)]

# insight
# This output reveals users who are active yet highly sedentary, emphasizing that true lifestyle health depends on movement spread throughout the day, not only total steps.

                AvgSteps    Sedentary
Id
1503960366  12116.741935   848.161290
2022484408  11370.645161  1112.580645
3977333714  10984.566667   707.533333
4388161847  10813.935484   836.677419
4702921684   8572.064516   766.419355
5577150313   8304.433333   754.433333
7007744171  11323.423077  1055.346154
7086361926   9371.774194   850.451613
8053475328  14763.290323  1148.000000
8378563200   8717.709677   716.129032
8877689391  16040.032258  1112.870968

In [117]:
# 36 Sleep Consistency vs Activity Consistency

sleep_var = sleep.groupby('Id')['TotalMinutesAsleep'].std()
step_var = activity.groupby('Id')['TotalSteps'].std()

consistency = pd.concat([sleep_var, step_var], axis=1)
consistency.columns = ['SleepVar','StepVar']

consistency.sort_values('SleepVar')

# insight 
# This output helps evaluate behavioral consistency, highlighting users with stable versus fluctuating sleep and activity patterns

              SleepVar      StepVar
Id
7007744171   14.849242  5306.477598
4558609924   25.841827  2356.961289
2026352035   42.265522  2977.834815
2347167796   42.982056  4682.093700
6962181067   62.500667  3941.753387
3977333714   63.901669  3134.141610
8792009665   65.460639  2327.360214
1844505072   66.362640  2712.836854
4702921684   68.095638  3451.848277
7086361926   69.345582  3857.093316
8378563200   76.199487  3929.338521
6117666160   84.107463  4887.698154
4445114986   95.545240  1937.070689
5577150313   98.741278  3846.985821
1503960366  100.476996  3052.484201
6775888955  100.584956  3027.802540
5553957443  108.288772  5074.505038
4319703577  114.284537  3467.055707
4020332650  141.298001  3369.790624
4388161847  143.113003  3373.130533
8053475328  208.093729  5440.962055
1927972279  219.235034  1205.269064
1644430081  334.752645  4325.478825
2320127002         NaN  2254.614642
1624580081         NaN  6177.048612
2022484408         NaN  2806.994710
2873212765         NaN  1514.471585
3372868164         NaN  1842.451321
4057192912         NaN  2691.665655
6290855005         NaN  2857.612310
8253242879         NaN  3141.325132
8583815059         NaN  3401.729275
8877689391         NaN  5821.315135

In [119]:
# 37 Calories Burn Without Movement

calories[(activity['TotalSteps'] < 4000) & (calories['Calories'] > 2300)]


# insight 
# This filter identifies unusual activity patterns where users burn high calories despite taking very few steps.

             Id ActivityDay  Calories
70   1644430081   4/20/2016      2430
72   1644430081   4/22/2016      2344
74   1644430081   4/24/2016      2413
75   1644430081   4/25/2016      2497
77   1644430081   4/27/2016      2489
79   1644430081   4/29/2016      2498
82   1644430081    5/2/2016      2580
125  1927972279   4/14/2016      2383
134  1927972279   4/23/2016      2499
135  1927972279   4/24/2016      2324
137  1927972279   4/26/2016      2638
139  1927972279   4/28/2016      2351
142  1927972279    5/1/2016      2411
143  1927972279    5/2/2016      2505
145  1927972279    5/4/2016      2338
147  1927972279    5/6/2016      2383
349  4020332650   4/15/2016      2951
350  4020332650   4/16/2016      3051
375  4020332650   5/11/2016      2645
594  5577150313    5/9/2016      2489
636  6290855005   4/23/2016      2664
673  6775888955    5/1/2016      2319
823  8378563200   4/17/2016      2572
830  8378563200   4/24/2016      2741
836  8378563200   4/30/2016      2660
844  8378563200    5/8/2016      2685
851  8583815059   4/14/2016      2443
852  8583815059   4/15/2016      2505
854  8583815059   4/17/2016      2439
855  8583815059   4/18/2016      2536
871  8583815059    5/4/2016      2516

In [124]:
# 38 BMI vs Sedentary Behaviour

activity.groupby(pd.cut(weight['BMI'],
    bins=[0,18.5,25,30,100],
    labels=['Underweight','Normal','Overweight','Obese']
))['SedentaryMinutes'].mean()

# insight
# This shows how physical inactivity (sedentary time) changes with increasing BMI.

C:\Users\hp\AppData\Local\Temp\ipykernel_1488\756600534.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  activity.groupby(pd.cut(weight['BMI'],

BMI
Underweight            NaN
Normal          984.764706
Overweight     1140.500000
Obese          1218.000000
Name: SedentaryMinutes, dtype: float64

In [125]:
# 39 Sleep Missing Bias

activity['SleepMissing'] = sleep['TotalMinutesAsleep'].isna()

activity.groupby('SleepMissing')['TotalSteps'].mean()

# insight
# This shows whether users with missing sleep records tend to be more or less physically active than users with recorded sleep data.

SleepMissing
False    6647.171913
Name: TotalSteps, dtype: float64

In [135]:
# 40 Average Sleep Duration per User

avg_sleep = sleep.groupby('Id')['TotalMinutesAsleep'].mean().reset_index()
avg_sleep.rename(columns={'TotalMinutesAsleep': 'AvgSleepMinutes'}, inplace=True)

avg_sleep.head()

# insights
# The result is a new column AvgSleepMinutes, which represents a user’s typical sleep duration per day (in minutes).

           Id  AvgSleepMinutes
0  1503960366       360.280000
1  1644430081       294.000000
2  1844505072       652.000000
3  1927972279       417.000000
4  2026352035       506.178571